.button_estilo {
    border-radius: 20px;
    background-color: #02b6ee;
    color: black;
}

.text_estilo {
    border-radius: 20px;
    border: 2px solid #02eeaf;
}

.div_estilo {
    border-radius: 20px;
    border: 2px solid #b1e5f8;
    box-shadow: 2px 2px 2px 2px #b1e5f8;
}