.form-registro{
    margin-bottom: 15px;
}

.form-registro select,
.form-registro input{
    border: 2px solid #e0a2eb;
    border-radius: 20px;
    min-width: 555px;
    min-height: 35px;
    padding: 5px 15px 5px 15px;
    margin-right: 25px;
}

.btn-submit{
    background-color: #674ec7;
    color: white;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    width: auto;
    height: auto;
}

.div-btn-submit{
    justify-content: right;
    display: flex;
    width: 90%;
    margin-top: 25px;
}

.container-registro{
    width: 50%;
    margin: auto;
}
